body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: 100vh;
	overflow: hidden
 

   
}

.fish{
    width: 100%;
  height: auto;
  position: relative; 


}

.text{

    color: #ffffff

}



.imgg{
    width: 25%;
  height: 30px;
  overflow: hidden;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    padding: 60px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.container h2{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.container p{
    font-size: 20px;
    margin-bottom: 30px;
}
.container .btn{
    text-decoration: none;
    
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 3px;
    
}
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 400px;
    background-color: #fff;
    padding: 20px;
    height: 300px;
    box-shadow:  0 25px 50px rgba(0,0,0,0.1),
    0 0 0 1000px rgba(255,255,255,0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    
}
.popup .close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    cursor: pointer;
    
}
.popup.active{
    visibility: visible;
}
#my-canvas{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: hidden;

    /* khong can them z-index ma sai cai nay */
    pointer-events: none;
}
#my-canvas.active{
    visibility: visible;
}
